@import "../../styles/variables";

.custom-input {
  input {
    width: 150px;
    margin-top: 4px;
    border-width: $default-border-width;
    border-style: solid;
    padding-left: $default-margin-for-input;
    // &.align-center {
    //   padding-right: $default-margin-for-input;
    // }
  }
  &.short-input {
    input {
      width: 50px;
    }
  }
  &.medium-input {
    input {
      width: 70px;
    }
  }
  &.short-input-no-text {
    // TODO: this is messy!!
    width: 75px;
    text-align: center;
    input {
      width: 75%;
    }
  }
}
