@import "../../styles/variables";

.freq-input {
  display: inline-block; /* Use inline-block to place elements side by side */
  padding-right: $space-default;
}

.note-name {
  padding-left: $space-default * 0.5;
}
