// modified from Andy Bell's basic button styles https://codepen.io/andy-set-studio/pen/Vxpjvo
@import "../../styles/variables";

button {
  display: inline-block;
  border: solid $default-border-width $default-border-color;
  padding: 8px 16px;
  margin: 4px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: $secondary-background-color;
  color: $default-text-color;

  &:disabled {
    color: rgba($default-text-color, 0.3);
    background-color: rgba($secondary-background-color, 0.3);
  }

  &:hover:enabled {
    background-color: $primary-background-color;
    color: $inverse-default-text-color;
  }

  // &:focus {
  //   outline: 1px solid #fff;
  //   outline-offset: -4px;
  // }
  &:active:enabled {
    transform: scale(0.95);
  }
  &.ans-button {
    background-color: $default-background-color;
    &:hover {
      background-color: $primary-background-color;
      color: $inverse-default-text-color;
    }
    &:focus {
      color: $default-text-color;
    }
  }
  &.border-hidden {
    border-color: transparent;
  }
  &.border-normal {
    border-color: $default-border-color;
  }
  &.border-success {
    border-color: $success-border-color;
  }
  &.border-failure {
    border-color: $failure-border-color;
  }
}
