$primary-background-color: #ff859a;
$secondary-background-color: #ffc6d0;
$default-background-color: white;
$navbar-background-color: #f8f9fa;

$highlight-text-color: #ff859a;
$primary-text-color: black;
$inverse-primary-text-color: white;
$secondary-text-color: #7c7c7d;

$normal-border-color: #dad8d8;
$success-border-color: #28e700;
$failure-border-color: #ff859a;
$divider-border-color: #ffc6d0;

$sans-font-family: Lato, Helvetica, Arial, sans-serif;

$space-narrow: 12px;
$space-wide: 24px;

$navbar-height: 72px;

$font-xl: 30px;
$font-l: 22px;
$font-m: 18px;
$font-s: 15px;
$font-xs: 10px;
