@import "../../styles/variables";

.answer-area {
  max-width: 1000px;
  margin: $space-default auto;
}
.option-buttons {
  padding: $space-default;
}

.learn-more {
  padding-top: $space-default * 2;
}
