@import "../../styles/variables";

.answer-area {
  max-width: 50%;
  margin: $space-default auto;
}
.option-buttons {
  padding: $space-default;
}

.button-group {
  padding-top: $space-default;
  padding-bottom: $space-default;
}

.learn-more {
  padding-top: $space-default * 2;
}
