@import "../../styles/variables";

.number-input {
  input {
    width: 150px;
    margin-top: 4px;
    border: $default-border-width solid $default-border-color;
    padding-left: $default-margin-for-input;
  }
}
