@use "./styles/reset";
@import "./styles/variables";

main {
  padding-left: $space-wide;
}

@font-face {
  font-family: Bravura;
  src: url(./assets/BravuraText.otf);
}

.smufl {
  font-family: "Bravura Text";
}

.center {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.small-text {
  font-size: $font-s;
}

.unimportant {
  font-size: $font-s;
  color: $secondary-text-color;
}

h1 {
  font-size: $font-xl;
}

h2 {
  font-size: $font-l;
}

p,
button,
label {
  font-size: $font-m;
}

label {
  margin-right: $space-narrow;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  min-width: 420px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  //   grid-column-gap: 0px;
  //   grid-row-gap: 0px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

// .inline-block {
//     display: inline-block;
// }

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.border-bottom {
  border-bottom: 0.5px solid $divider-border-color;
}
